/* Styles for the color palette container */
.ace-color-palette-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    gap: 5px;
}

/* Styles for individual color squares */
.ace-color-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #000;
}
